body {
    font-family: arial, sans-serif;
    background-color: white;
    color: black;
}

main {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 3px 3px;
    margin: auto;
    text-align: center;
}

#description {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
}

#title {
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}

#image {
   max-width: 100%;
   display: block;
}

#img-div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#img-caption {
    font-size: 14px;
    text-align: center;
}
ul {
		/* Create flex display to remove full width */
    display: flex;
		flex-direction: column;
		align-items: center;
		/* default padding and margin are for ::marker, we are doing this manually */
		padding: 0 0 0 8px;
		margin: 0;
}

li {
	/* display flex to pull width of element in to fit content */
	display: flex;
	justify-content: center;
	/* position relative so we can absolutely position the bullet */
	position: relative;
}

/* Bullet element */
li::before {
	/* bullet CSS code: see https://www.htmlsymbols.xyz/unicode/U+2022 */
	content: '\2022';
	/* positioning the bullet directly to the left of the content */
	position: absolute;
	left: -8px;
}
